input[type="text"]{
    background-color: white;
    border: solid brown 2px;
    width:100%;
}
input[type="button"]{
    background-color: orange;
    color: black;
    border-radius: 10px;
    width: 100%;
}

